break-countdown-seconds=7200
lock-countdown-seconds=1200
postpone-countdown-seconds=300
enabled=false
display-seconds=true
display-hours=true
display-time=true
display-icon=true
allow-postpone=true
auto-resume=false

