[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=KDEConnect Indicator
Comment=To show KDEConnect indicator in system tray
Exec=/usr/bin/kdeconnect-indicator
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

